<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../CSS/style.css">
    <title>Shop</title>
</head>
<header>
    <div class="icon-container">
        <a href="/" class="icon icon-home"><img src="https://img.icons8.com/small/16/000000/home.png" width="20px" height="20px"/></a>
        <a href="/shopping-cart" class="icon icon-cart"><img src="https://img.icons8.com/small/16/000000/shopping-cart.png" width="20px" height="20px"/></a>
        <a href="#" class="icon icon-profile"><img src="https://img.icons8.com/small/16/000000/contacts.png" width="20px" height="20px"/></a>
    </div>
    <h1>Jewellery</h1>
    <nav>
        <ul class="nav-bar">
            <a href="/men"><li>Men's Clothing</li></a>
            <a href="/women"><li>Woman's Clothing</li></a>
            <a href="/electronics"><li>Electronics</li></a>
            <a href="#"><li class="active">Jewellery</li></a>
        </ul>
    </nav>
</header>
<main>
    {{#each jewellery}}
        <article class="product">
            <img class="product__img" src="{{this.image}}" alt="">
            <label>
                Price:
                <span>{{this.price}}</span>
            </label>
            <label>
                Description:
                <span>{{this.description}}</span>
            </label>
            <button class="btn-add">ADD to Cart</button>
        </article>
    {{/each}}
</main>
